.navbar {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      gap: 20px;
  
      li a {
          text-decoration: none;
          color: #333;
  
          &:hover {
            text-decoration: underline;
          }
        }
    }
  }